* {
	box-sizing: border-box;
}
html {
  font-size: 18px;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.618;
  margin: 0;
	background-color: #fafafa;
}

/* ----------------------------------------
Typography
------------------------------------------- */
h1, p {
	max-width: 760px;
}
h1 {
  font-size: 34px;
	font-weight: 400;
	line-height: 1.3;
}
h2 {
  font-weight: 500;
  font-size: 28px;
  color: #FF5722;
}
h3 {
  font-size: 21px;
  font-weight: 500;
  color: #FF5722;
}
p {
	margin-top: 16px;
}
a {
	cursor: pointer;
	color: #2196F3;
	text-decoration: none;
}
/* ----------------------------------------
Classes for typography
------------------------------------------- */
.orange {
  color: #FF5722;
}
.blue {
  color: #2196F3;
}
.grayDark {
	color: rgba(0, 0, 0, 0.54);
}
.grayLight {
	color: rgba(0, 0, 0, 0.38);
}
.form {
	font-size: 16px;
	line-height: 1.1;
}

/* ----------------------------------------
Buttons
------------------------------------------- */
.iconButtonContainer {
	padding: 0;
	border: none;
	background: transparent;
}
.touchZone {
	height: 48px;
	width: 48px;
}

/* ----------------------------------------
Images
------------------------------------------- */
img {
	max-width: 100%;
}
div.iconButton img {
	width: 100%;
}
/* ----------------------------------------
Header
------------------------------------------- */
header {
	padding: 16px;
	position: fixed;
	top: 0;
	width: 100%;
	background: rgba(250,250,250,.95);
	z-index: 999;
	display: flex;
	justify-content: space-between;
	margin-bottom: 32px;
}
.headerContent {
	display: flex;
	justify-content: space-between;
	margin-left: 40px;
	width: 100%
}
.logoBox {
	display: flex;
	justify-content: flex-start;
	max-width: 560px;
}
.logoBoxIcon {
	max-width: 100%;
	margin-right: 16px;
}
.signInBox {
	min-width: 360px;
	max-width: 460px;
}
/* ----------------------------------------
Flex items
------------------------------------------- */
.col-1-3 {
	flex-basis: 30%;
	max-width: 480px;
}
.col-2-3 {
	flex-basis: 64%;
	margin-right: 40px;
	max-width: 760px;
}
.flexSection{
	display: flex;
	justify-content: space-between;
	margin: 40px auto 0;
}
/* ----------------------------------------
Main
------------------------------------------- */
main {
	margin: 80px 24px 0;
}

/* ----------------------------------------
Intro Section
------------------------------------------- */
.intro {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0 auto;
	padding-top: 40px;
}
div.col-2-3 h1 {
	margin: 0;
}
div.col-2-3 p {
	margin: 16px 0 0;
}

/* ----------------------------------------
3-column home page sections
------------------------------------------- */
.headingBorder {
	border-bottom: solid 2px rgba(0,0,0,.38);
	padding: 8px 0;
	margin: 0;
}

/* ----------------------------------------
mid-page section
------------------------------------------- */
.midpage {
	margin-top: 80px;
}

/* ----------------------------------------
Footer
------------------------------------------- */
footer {
	height: 64px;
	margin: 0;
}
